* {
    padding: 0;
    margin: 0;
}

.green {
    width: 64.5%;
    height: 52.96vh;
    background-color: #BCDBD6;
    position: absolute;
    z-index: 1;
}

.red {
    margin: 0;
    padding: 0;
    width: 51.32%;
    height: 54.58vh;
    background-color: #F15C50;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.yellow {
    width: 64.5%;
    height: 47.03vh;
    background-color: #F6C450;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.black {
    width: 100%;
    height: 100vh;
    background-color: #111214;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.logo {
    margin-top: 4vh;
    margin-left: 4%;
}

.name1 {
    margin-left: 6%;
    margin-top: 5%;
    position: absolute;
    z-index: 5;
    width: auto;
    height: auto;
    display: flex;
}

.druh1 {
    -webkit-text-stroke: 0.25vw #111214;
    font-family: 'Sorts Mill Goudy', 'Perpetua', serif;
    font-size: 14vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #111214;
}

.in1 {
    -webkit-text-stroke: 0.25vw #111214;
    font-family: 'Sorts Mill Goudy', 'Perpetua', serif;
    font-size: 14vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: transparent;
}

.name2 {
    margin-left: 9%;
    margin-top: 7.3%;
    position: absolute;
    z-index: 4.5;
    width: auto;
    height: auto;
    display: flex;
}

.druh2 {
    font-family: 'Sorts Mill Goudy', 'Perpetua', serif;
    font-size: 14vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #E7EDEC;
}

.in2 {
    -webkit-text-stroke: 0.15vw #E7EDEC;
    font-family: 'Sorts Mill Goudy', 'Perpetua', serif;
    font-size: 14vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: transparent;
}

.title1 {
    margin-left: 26%;
    margin-top: 18.5%;
    position: absolute;
    z-index: 5;
    width: auto;
    height: auto;
    display: flex;
}

.tarafder1 {
    -webkit-text-stroke: 0.15vw #111214;
    font-family: 'Sorts Mill Goudy', 'Perpetua', serif;
    font-size: 9.55vh;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3vw;
    color: #111214;
}

.title2 {
    margin-left: 29.5%;
    margin-top: 22%;
    position: absolute;
    z-index: 4.5;
    width: auto;
    height: auto;
    display: flex;
}

.tarafder2 {
    font-family: 'Sorts Mill Goudy', 'Perpetua', serif;
    font-size: 9.55vh;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3vw;
    color: #E7EDEC;
}

.logoline {
    margin-left: 22%;
    margin-top: 28%;
    position: absolute;
    z-index: 4.5;
    width: auto;
    height: auto;
    display: flex;
}

.line {
    width: 70.5%;
}

.code_holder {
    width: 98%;
    margin-top: 4.4vh;
    margin-left: 2.1%;
    position: absolute;
}

.code4 {
    margin-left: 4.5%;
}

.code5 {
    margin-left: 4.5%;
}

.code8 {
    margin-left: 4.5%;
}

.red p {
    opacity: 0.75;
    -webkit-text-stroke: 1.7px #111214;
    font-size: 3vh;
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: normal;
    color: #111214;
}

.grid_holder {
    position: absolute;
    margin-top: 35%;
    height: 100%;
    width: 100%;
}

.grid {
    width: 90%;
}

.uiux_holder {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 41%;
}

.uiux {
    margin-left: 1%;
    opacity: 0.95;
    font-family: LucidaCalligraphy;
    font-size: 23vh;
    font-style: italic;
    letter-spacing: normal;
    line-height: 30%;
    color: #111214;
}

resume_holder {
    position: absolute;
    z-index: 2;
}

resume_holder h1 {
    padding-left: 90%;
    -webkit-text-stroke: 3px #111214;
    font-family: VarelaRound;
    font-size: 70px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 3.5px;
    color: #111214;
}

.work_holder {
    display: none;
}

.graphic_holder {
    position: absolute;
    margin-left: 75%;
    height: 96.6vh;

}

.graphic_holder img {
    position: absolute;
    height: 100%;
}
